/* common lines */
html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    background-image: url("../images/dust_scratches.png");
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}
#top-bar{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 90px;
    background-color: #ffffff;
    z-index: -1;
    border-bottom: 2px solid #cccccc;
}


h1 {
    float: left;
    font-family: 'Georgia', Times, Times New Roman, serif;
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 27px;
    margin: 0 0 21.440px 0;
}
.menu {
    float: right;
    height: 18px;
    padding: 0px 18px 0 18px;
    background-color: #ffffff;
    margin: 36px 0px 39.440px 0px;
    color: #777777;
    border-right: 0.5px solid #cccccc;
}
#main-content{
    background-color: #ffffff;
    line-height: 150%;
 }
h2 {
    clear: both;
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
    padding: 20px;
    margin: 20px 20px 0px 20px;
    border-bottom: 2px solid #cccccc;
}
#my-pic {
    float:left;
    margin: 0px 20px 20px 20px;
    color: white
}
p, #contact-body-text {
    margin: 20px;
    border-bottom: 20px solid #ffffff;
}

#footer{
    position: fixed;
    bottom:0px;
    left: 0px;
    background-color: #666666;
    color: #ffffff;
    width: 100%;
    text-align: center;
    padding: 35px 0 10px 0;
    border-top: 5px solid #4aaaa5;
}

/* index page only */
#index-body{
    width: 960px;
}

/* contact page only */
#contact-body{
    width: 808px;
}

#name-box, #email-box{
    height:20px;
    border: 0.5px solid #cccccc;
    margin:10px 0 10px 0;
    padding:10px;
}
#message-box{
    height:150px;
    border: 0.5px solid #cccccc;
    margin:10px 0 10px 0;
}
#submit{
    padding:10px 20px 10px 20px;
    width: 60px;
    background-color: #4aaaa5;
    color: #ffffff;
}

/* portfolio page only */
#portfolio-body{
    width: 808px;
}

#box-tl{
    float: left;
    width: 230px;
    height: 175px;
    margin: 20px;
    position: relative;
    background-image:url("../images/triv.jpg");
    background-size: 230px 175px;
    top: 20px;
    left:0px;
}
#hangman{
    width:230px;
    height:20px;
    padding: 15px 0 15px 0;
    position: absolute;
    top: 110px;
    color:#ffffff;
    background-color: #4aaaa5;
    text-align: center;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
#games{
    width: 808px;
    height: 675px;
    background-color: #ffffff;
}

